@font-face {
	font-family: 'iranyekan';
	font-style: normal;
	font-weight: bold;
	src: url('fonts/eot/iranyekanwebbold.eot');
	src: url('fonts/eot/iranyekanwebbold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('fonts/woff/iranyekanwebbold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('fonts/ttf/iranyekanwebbold.ttf') format('truetype');
}

@font-face {
	font-family: 'iranyekan';
	font-style: normal;
	font-weight: 100;
	src: url('fonts/eot/iranyekanwebthin.eot');
	src: url('fonts/eot/iranyekanwebthin.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('fonts/woff/iranyekanwebthin.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('fonts/ttf/iranyekanwebthin.ttf') format('truetype');
}

@font-face {
	font-family: 'iranyekan';
	font-style: normal;
	font-weight: 300;
	src: url('fonts/eot/iranyekanweblight.eot');
	src: url('fonts/eot/iranyekanweblight.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('fonts/woff/iranyekanweblight.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('fonts/ttf/iranyekanweblight.ttf') format('truetype');
}

@font-face {
	font-family: 'iranyekan';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/eot/iranyekanwebregular.eot');
	src: url('fonts/eot/iranyekanwebregular.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('fonts/woff/iranyekanwebregular.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('fonts/ttf/iranyekanwebregular.ttf') format('truetype');
}

@font-face {
	font-family: 'iranyekan';
	font-style: normal;
	font-weight: 500;
	src: url('fonts/eot/iranyekanwebmedium.eot');
	src: url('fonts/eot/iranyekanwebmedium.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('fonts/woff/iranyekanwebmedium.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('fonts/ttf/iranyekanwebmedium.ttf') format('truetype');
}

@font-face {
	font-family: 'iranyekan';
	font-style: normal;
	font-weight: 800;
	src: url('fonts/eot/iranyekanwebextrabold.eot');
	src: url('fonts/eot/iranyekanwebextrabold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('fonts/woff/iranyekanwebextrabold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('fonts/ttf/iranyekanwebextrabold.ttf') format('truetype');
}

@font-face {
	font-family: 'iranyekan';
	font-style: normal;
	font-weight: 900;
	src: url('fonts/eot/iranyekanwebblack.eot');
	src: url('fonts/eot/iranyekanwebblack.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('fonts/woff/iranyekanwebblack.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('fonts/ttf/iranyekanwebblack.ttf') format('truetype');
}

@font-face {
	font-family: 'iranyekan';
	font-style: normal;
	font-weight: 950;
	src: url('fonts/eot/iranyekanwebextrablack.eot');
	src: url('fonts/eot/iranyekanwebextrablack.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('fonts/woff/iranyekanwebextrablack.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('fonts/ttf/iranyekanwebextrablack.ttf') format('truetype');
}
.style-html{
    overflow-x: hidden;
}
.basic{
    overflow-x: hidden;
    background-color: #faf6f6;
}
.parent-header{
    display: flex; 
    justify-content:space-between; 
    align-items: flex-end; 
    margin-right: 20px;
}
.header{
    cursor: pointer;
    float: right;
    margin:0;
    direction: rtl;
    font-size: 30px;
    float: right;
    color: rgb(26, 123, 250);
}
.search{
    width: 500px; 
    height: 40px; 
    color: #474747; 
    font-size: 15px; 
    margin-bottom: 10px; 
    background-color: rgb(252, 252, 252); 
    text-align: right; 
    margin-right: 0; 
    padding-right: 20px;
    border: 1px solid #efefef; 
    border-radius: 6px 6px 6px 6px;
}
.search:focus {
    outline: 1px solid #d4d4d4;
}
.navbar {
    width: 100%;
    overflow: hidden;
    background-color: rgb(65, 194, 245); 
    border-radius: 10px 10px 10px 10px;
}
.navbar a {
    float: right;
    font-size: 15px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}  
.subnav {
    float: right;
    overflow: hidden;
}  
.subnav .subnavbtn {
    cursor: pointer;
    font-size: 16px;  
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: 'iranyekan';
    margin: 0;
}
.navbar a:hover {
    color: black;
    border-bottom: 2px solid rgb(26, 123, 250);
}
.subnav:hover .subnavbtn {
    background-color: rgb(215, 232, 241);
}
.subnav-content {
    display: none;
    position: absolute;
    margin-right: 67px;
    right: 0;
    background-color: rgb(197, 229, 241);
    border-radius: 5px 5px 5px 5px;
    text-align: center;
    text-decoration: none;
    width: auto;
    z-index: 1;
}
.subnav-content a {
    float: right;
    color: black;
    text-decoration: none;
}
.subnav-content a:hover {
    border-bottom: 2px solid rgb(26, 123, 250);
}
.subnav:hover .subnav-content {
    display: block;
}
.submit{
    cursor: pointer;
    font-size: 15px;
    font-family: 'iranyekan';
    padding: 10px;
    border: 1px solid #d8d7d7;
    transition: .5s;
    border-radius: 10px 10px 10px 10px;
    margin-left: 10px;
}
@keyframes btn-submit {
    from {background-color: rgb(224, 231, 233);}
    to {background-color: rgb(31, 204, 237); color: white;}
}
.submit:hover{
    animation-name: btn-submit;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}
.vorood{
    cursor: pointer;
    font-size: 15px;
    font-family: 'iranyekan';
    padding: 10px;
    border: 1px solid #d8d7d7;
    transition: .5s;
    border-radius: 10px 10px 10px 10px; 
    margin-left: 10px; 
}
@keyframes btn-vorood {
    from {background-color: rgb(224, 231, 233);}
    to {background-color: rgb(31, 204, 237); color: white;}
}
.vorood:hover{
    animation-name: btn-vorood;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}
.shop-sabad{
    cursor: pointer;
    padding: 2px;
    margin-left: -5px;
    border: 1px solid #d8d7d7;
    transition: .5s;
    border-radius: 10px 10px 10px 10px;
}
@keyframes btn-sabad {
    from {background-color: rgb(224, 231, 233);}
    to {background-color: rgb(31, 204, 237); color: white;}
}
.shop-sabad:hover{
    animation-name: btn-sabad;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}
.txt-align{
    direction: ltr;
    text-align: left;
    display: flex;
}
.margin-buttons{
    margin-left: 20px;
    margin-bottom: 10px;
}
.flex-container {
    display: flex;
    flex-direction: row;
}
.img-banner1{
    cursor: pointer;
    background-image: url("takhfif-pictures/Note20Ultra.png");
    background-size: 100% 100% !important;
}
.img-banner2{
    cursor: pointer;
    background-image: url("takhfif-pictures/POCO\ X3-Pro.png");
    background-size: 100% 100% !important;
}
.img-banner3{
    cursor: pointer;
    background-image:url("takhfif-pictures/iphone-13.png");
    background-size: 100% 100% !important; 
}
.flex-container .slider {
    height: 400px;
    background-size: cover;
    flex: 0 0 60%;
    margin-top: 55px;
    margin-right: 50px;
    border-radius: 30px;
    border: 1px solid rgb(65, 194, 245); 
}
.flex-container .banners {
    display: flex;
    flex-direction: column;
    flex: 0 0 33%;
    margin-right: 10px;
    margin-top: 55.5px;
}
.flex-container .banners .banner {
    height: 196.5px;
    background-size: cover;
    border-radius: 30px;
    border: 1px solid rgb(65, 194, 245); 
}
.banner-bottom{
    margin-top: 5px;
    height: 197px;
}
.banner-m{
    cursor: pointer;
    width: 93.5%;
    margin-top: 4%;
    margin-right: 3.5%;
    margin-left: 4%;
    padding-bottom: 2.5%;
    border-radius: 30px;
    border: 1px solid rgb(227, 231, 233); 
}
.Parent-cards{
    display: flex; 
    flex-direction: row;
}
.card-main{
    margin: 20px auto !important;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-right: 25px;
    width: 250px;
    height: 370px;
}
.card{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-right: 25px;
    width: 250px;
    height: 370px;
}
.margin-card{
    margin-right: 30px;
}
.card-main:hover{
    box-shadow: 7px 7px 5px rgb(200, 215, 228), -5px -5px 5px white;
    border-radius: 4%;
}
.card:hover{
    box-shadow: 7px 7px 5px rgb(200, 215, 228), -5px -5px 5px white;
    border-radius: 4%;
}
.properties-m{
    margin-top: 20px;
    height: auto;
    width: 200px;
    margin: auto;
}
.txt-picture1{
    margin-top: 10px;
}
.txt-picture2{
    margin-top: -10px;
    margin-bottom: 0;   
}
.font-size-price{
    font-size: 17.5px;
}
.font-size-price-line-through{
    font-size: 16.5px;
    margin-top: 5px; 
    text-decoration: line-through; 
    color: rgb(143, 139, 139);
}
.font-size-price-takhfif{
    font-size: 17.5px;
    margin-top: -10px;
}
.parent-takhfif{
    display: flex; 
    justify-content: space-between;
    padding: 0 10px;
}
.takhfif{
    margin: 0; 
    text-align: left; 
    color: #fb3449;
}
.hr-takhfif{
    width: 90%; 
    border :.5px solid #fb3449;
}
.btn-m {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
}
.btn-m button{
    cursor: pointer;
    width: 120px;
    height: 45px;
    border: 1px solid #a1a3a8;
    font-size: 15px;
    font-family: 'iranyekan';
    padding: 10px;
    border-radius: 10px 10px 10px 10px; 
    transition: 0.5s;
}
.btn-m button:hover{
    background-color: rgb(31, 204, 237);
    border: none;
    color: white;
}
.hr-footer{
    margin-left: 50px;
    margin-right: 50px;
    border: .5px solid rgb(215, 220, 221);
}
.kolieh{
    font-size: 18px;
    text-align: center;
    color: rgb(150, 151, 151);
}
.footer{
    background-color: #f5f5f5;
    margin-top: 10px;
    border: 1px solid rgb(213, 216, 218);
}
.topFunction{
    background-color: #f5f5f5;
    color: #8a8a8b;
    cursor: pointer;
    float: left;
    border: 1px solid #a1a3a8;
    border-radius: 10px 10px 10px 10px;
    width: 120px;
    height: 40px;
    margin-left: 36px;
    margin-top: 20px;
    transition: 0.5s;
}
.topFunction:hover{
    background-color: rgb(31, 204, 237);
    border: none;
    color: white;
}
.txt-topFunction{
    margin: 0 auto;
    text-align: center;
    font-size: 16px;
}
.logo-footer{
    font-size: 30px; 
    color: rgb(26, 123, 250);
    margin-right: 50px;
}
.telephone{
    font-size: 17px;
    margin-right: 50px;
    color: rgb(71, 71, 71);
}
body , .txt-topFunction{
    font-family: 'iranyekan' !important;
}


/* Submit-Page-Finall , Vorood-Page-Finall */


.basic-submit-vorood-Sabad{
    font-family: 'iranyekan';
    position: relative;
    text-align: center;
    margin: 0 auto;
    margin-top: 200px;
    width: 350px;
    height: 350px;
    border: 2px solid slategrey;
    border-radius: 6%;
}


/* Submit-Page */


.style-username{
    text-align: right;
    font-size: 15px;
    margin-top: 20px;
    margin-right: 49px;
    color: rgb(143, 139, 139);
}
.usernamePhoneNumber-input{
    font-size: 15px;
    direction: rtl;
    border-radius: 6px 6px 6px 6px;
    border:1px solid rgb(143, 139, 139);
    width: 250px;
    height: 40px;
}
.style-PhoneNumber{
    text-align: right;
    font-size: 15px;
    margin-right: 49px;
    color: rgb(143, 139, 139);
}
.style-btn-Sabt{
	cursor: pointer;
    font-size: 18px;
    width: 80px;
    padding: 10px;
    border: 1px solid #a1a3a8;
    border-radius: 10px 10px 10px 10px;
    margin-top: 24px;
	transition: .5s;
}
@keyframes btn-Sabt {
    from {background-color: rgb(224, 231, 233);}
    to {background-color: rgb(31, 204, 237); color: white;}
}
.style-btn-Sabt:hover{
    animation-name: btn-Sabt;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}


/* Vorood-Page */


.style-Username-PhoneNumber{
    text-align: center;
    font-size: 15px;
    margin-top: 63px;
    color: rgb(143, 139, 139);
}
.style-Username-PhoneNumber-input{
    font-size: 17px;
    direction: rtl;
    border-radius: 6px 6px 6px 6px;
    border:1px solid rgb(143, 139, 139);
    width: 250px;
    height: 40px;
    margin-top: 10px;
}
.style-btn-Vorood{
	cursor: pointer;
    font-size: 18px;
    width: 80px;
    padding: 10px;
    border: 1px solid #a1a3a8;
    border-radius: 10px 10px 10px 10px;
    margin-top: 40px;
	transition: .5s;
}
@keyframes btn-Vorood {
    from {background-color: rgb(224, 231, 233);}
    to {background-color: rgb(31, 204, 237); color: white;}
}
.style-btn-Vorood:hover{
    animation-name: btn-Vorood;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}


/* Sabad-Page */


.style-txt-sabad{
    text-align: center;
    font-size: 21px;
    margin-top: 105px;
    color: rgb(143, 139, 139);
}


/* Mobile-page , Iphone-page , Samsung-page , Xiaomi-page */


.bannerr{
    cursor: pointer;
    width: 1420px;
    margin-top: 50px;
    margin-right: 50px;
    margin-left: 50px;
    padding-top: 50px;
    padding-bottom: 20px;
    border-radius: 30px;
    border: 1px solid rgb(227, 231, 233); 
}
.margin-card-m{
    margin-right: 35px;
}
.nav-iphone, .sumsung-page, .xiaomi-page{
    cursor: pointer;
}


/* Note20Ultra-page */


.title{
    font-size: 18px;
    text-align: center; 
    margin-top: 25px; 
    margin-right: 30px;
}
.parent1{
    display: flex;
    width: 100%;
}
.div-img{
    width: 25%;
}
.img{
    width: 388.5px; 
    height: 388.5px; 
    margin: 0;
}
.div-center-texts{
    width: 100%; 
    margin-right: 30px;
}
.h2{
    font-size: 15px; 
    width: 100%; 
    text-align: right; 
    margin-top: 150px; 
    margin-right: 26px;
}
.ul-txt-center{
    font-size: 15px; 
    text-align: right; 
    margin-top: 90px;
}
.li-txt-center{
    font-size: 13px;
}
.box-left{
    width: 25%;
}
.parent-box-left{
    margin-left: 20px; 
    float: left; 
    width: 340px; 
    height: 390px;
    background-color: rgb(241, 244, 247); 
    text-align: right;
    border-radius: 10px 10px 10px 10px; 
    border: 1px solid slategrey;
}
.txt-box-left{
    padding-right: 33px;
}
.hr-box-left{
    width: 80%;
}
.price-through{
    margin-top: 0;
    margin-bottom: 0;
    color: rgb(143, 139, 139);
    font-size: 19px;
    padding-left: 10px; 
    text-decoration: line-through; 
    text-align: left;
}
.parent-takhfif-Note{
    display: flex; 
    justify-content: flex-end; 
    margin-left: 10px; 
}
.takhfif-Note{
    color: white; 
    text-align: center; 
    padding: 3px 10px;
    background-color: #fb3449; 
    border-radius:20px 20px 20px 20px;
}
.price{
    font-size: 22px; 
    padding-left: 10px; 
    text-align: left;
}
.div-btn{
    text-align: center;
}
.btn-box-left{
    cursor: pointer;
    width: 90%; 
    height: 50px; 
    border-radius: 10px 10px 10px 10px; 
    border: 1px solid #a1a3a8;
    transition: 0.5s;
}
.btn-box-left:hover{
    background-color: rgb(31, 204, 237);
    border: none;
    color: white;
}
.txt-btn-box-left{
    font-size: 18px;
    margin: 0;
}
.big-hr{
    border: .5px solid rgb(222, 226, 228);
    float: left; 
    width: 70%; 
    margin-left: 20px;
}
.parent2{
    direction: rtl; 
    padding-top: 50px;
}
.title2{
    text-align: center;
}
.div-right-table{
    margin-right: 20px;
}
.p-table{
    margin-right: 20px;
}
.td2{
    vertical-align: top;
}
.div-left-table{
    margin-right: 60px;
}
.owl-carousel .owl-item img{
    height: auto;
    width: 200px;
    margin: auto;
}


/* Mobile size */


@media screen and ( max-width: 700px){
    .header{
        font-size: 25px;
        display: flex;
        justify-content: space-around;
    }
    .parent-logo-search{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-bottom: 12px;
    }
    .search{
        width: 300px;
        height: 33px;
        margin: 0;
    }
    .Parent-cards{
        flex-direction: column;
        align-items: center;
    }
    .flex-container{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .flex-container .slider{
        height: 140px;
        width: 100%;
        max-width: 100%;
        margin-top: 3%;
        margin-right: 2%;
        /* margin-left: 4px; */
        display: flex;
        flex: 0 0 96.5%;
    }
    .flex-container .banners{
        /* width: 100%;
        max-width: 100%; */
        display: flex;
        flex: 0 0 100%;
        margin-top: 2%;
        margin-right: 2%;
        /* margin-left: 4px; */
    }
    .flex-container .banners .banner{
        height: 140px;
    }
    .banner{
        width: 96%;
    }
    .bannerr{
        width: 94.5%;
        margin-right: 2.6%;
    }
    .banner-m{
        width: 96%;
        margin-right: 2%;
        margin-top: 4%;
    }
    .card-main{
        /* margin-bottom: 4%;
        margin-right: 13%; */
        height: auto;
        flex: 1 0 100%;
    }
    .card{
        margin-right: 0;
    }
    .margin-card-m{
        margin-right: 0;
    }
    .owl-carousel .owl-item img{
        margin-top: 3%;
    }
    .parent-takhfif{
        padding: 0 30px;
    }
    .hr-takhfif{
        width: 80%;
    }
    .logo-footer{
        font-size: 25px;
        margin-right: 13px;
    }
    .topFunction{
        margin-left: 13px;
        width: 106px;
        height: 46px;
    }
    .txt-topFunction{
        font-size: 15px;
    }
    .telephone{
        font-size: 15px;
        margin-right: 13px;
    }
    .hr-footer{
        margin-left: 13px;
        margin-right: 13px;
    }
    .kolieh{
        font-size: 13px;
    }
    .parent1{
        flex-direction: column;
    }
    .div-center-texts{
        width: 85%;
    }
    .img{
        width: 360.5px;
        height: 360.5px;
    }
    .parent-box-left{
        width: 99.5%;
        margin-left: 0;
        float: none;
    }
    .box-left{
        width: 100%;
    }
    .big-hr{
        width: 90%;
    }
    .title{
        margin-right: unset;
    }
    .parent-header{
        flex-wrap: wrap;
        justify-content: flex-end;
        margin: 0;
    }
}

/* @media screen and (min-width: 699px) and (max-width: 1294px){
    .header{
        font-size: 25px;
        display: flex;
        justify-content: space-around;
    }
    .parent-logo-search{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-bottom: 12px;
    }
    .search{
        width: 300px;
        height: 33px;
        margin: 0;
    }
    .Parent-cards{
        flex-direction: column;
        align-items: center;
    }
    .flex-container{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .flex-container .slider{
        height: 140px;
        width: 100%;
        max-width: 100%;
        margin-top: 3%;
        margin-right: 2%;
        display: flex;
        flex: 0 0 96.5%;
    }
    .flex-container .banners{
        display: flex;
        flex: 0 0 100%;
        margin-top: 2%;
        margin-right: 2%;
    }
    .flex-container .banners .banner{
        height: 140px;
    }
    .banner{
        width: 96%;
    }
    .bannerr{
        width: 94.5%;
        margin-right: 2.6%;
    }
    .banner-m{
        width: 96%;
        margin-right: 2%;
        margin-top: 4%;
    }
    .card-main{
        height: auto;
        flex: 1 0 100%;
    }
    .card{
        margin-right: 0;
    }
    .margin-card-m{
        margin-right: 0;
    }
    .owl-carousel .owl-item img{
        margin-top: 3%;
    }
    .parent1{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .div-img{
        width: 100%;
        text-align: center;
    }
    .parent-takhfif{
        padding: 0 30px;
    }
    .hr-takhfif{
        width: 80%;
    }
    .logo-footer{
        font-size: 25px;
        margin-right: 13px;
    }
    .topFunction{
        margin-left: 13px;
        width: 106px;
        height: 46px;
    }
    .txt-topFunction{
        font-size: 15px;
    }
    .telephone{
        font-size: 15px;
        margin-right: 13px;
    }
    .hr-footer{
        margin-left: 13px;
        margin-right: 13px;
    }
    .kolieh{
        font-size: 13px;
    }
    .parent1{
        flex-direction: column;
    }
    .div-img{
        width: 100%;
        justify-content: center;
    }
    .img{
        width: 360.5px;
        height: 360.5px;
    }
    .box-left{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .big-hr{
        width: 85%;
    }
    .title{
        margin-right: unset;
    }
    .parent-header{
        flex-wrap: wrap;
        justify-content: flex-end;
        margin: 0;
    }
} */

@media screen and (min-width: 280px) and (max-width: 350px){
    .img{
        width: 270.5px;
        height: 270.5px;
    }
    .parent-box-left{
        width: 99.3%;
    }
    .div-left-table{
        margin-right: 10px;
    }
    .logo-footer{
        font-size: 20px;
        margin-right: 6px;
        margin-top: 20px;
    }
    .topFunction{
        margin-left: 5px;
        margin-top: 10px;
    }
    .kolieh{
        font-size: 10px;
    }
}

/* Tablet size */


@media screen and (min-width: 701px) and (max-width: 1024px){
    .flex-container .slider{
        height: 265px;
        margin-right: 30px;
        flex: 0 0 60%;
    }
    .flex-container .banners .banner{
        height: 129.5px;
    }
    .banner-m{
        margin-right: 30px;
        width:943px;
    }
    .Parent-cards{
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .bannerr{
        width: unset;
    }
    .banner-m{
        width: 94%;
        margin-right: 3%;
    }
    .margin-card-m{
        margin-right: 0;
    }
    .card-main{
        margin: 0 auto;
    }
    .card{
        margin-right: 0;
        margin-top: 2.5%;
        margin-bottom: 2.5%;
        width: 44%;
    }
    /* .parent1{
        display: flex;
        flex-wrap: wrap;
    }
    .div-img{
        width: 100%;
        text-align: center;
    }
    .box-left{
        width: 100%;
        float: none;
        display: flex;
        justify-content: center;
    } */
    .parent-takhfif{
        padding: 0 72px;
    }
    .hr-takhfif{
        width: 65%;
    }
}
@media screen and (min-width: 1024px){
    .search{
        margin-right: 70px;
    }
}