@font-face {
	font-family: 'iranyekan';
	font-style: normal;
	font-weight: bold;
	src: url('fonts/eot/iranyekanwebbold.eot');
	src: url('fonts/eot/iranyekanwebbold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('fonts/woff/iranyekanwebbold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('fonts/ttf/iranyekanwebbold.ttf') format('truetype');
}

@font-face {
	font-family: 'iranyekan';
	font-style: normal;
	font-weight: 100;
	src: url('fonts/eot/iranyekanwebthin.eot');
	src: url('fonts/eot/iranyekanwebthin.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('fonts/woff/iranyekanwebthin.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('fonts/ttf/iranyekanwebthin.ttf') format('truetype');
}

@font-face {
	font-family: 'iranyekan';
	font-style: normal;
	font-weight: 300;
	src: url('fonts/eot/iranyekanweblight.eot');
	src: url('fonts/eot/iranyekanweblight.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('fonts/woff/iranyekanweblight.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('fonts/ttf/iranyekanweblight.ttf') format('truetype');
}

@font-face {
	font-family: 'iranyekan';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/eot/iranyekanwebregular.eot');
	src: url('fonts/eot/iranyekanwebregular.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('fonts/woff/iranyekanwebregular.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('fonts/ttf/iranyekanwebregular.ttf') format('truetype');
}

@font-face {
	font-family: 'iranyekan';
	font-style: normal;
	font-weight: 500;
	src: url('fonts/eot/iranyekanwebmedium.eot');
	src: url('fonts/eot/iranyekanwebmedium.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('fonts/woff/iranyekanwebmedium.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('fonts/ttf/iranyekanwebmedium.ttf') format('truetype');
}

@font-face {
	font-family: 'iranyekan';
	font-style: normal;
	font-weight: 800;
	src: url('fonts/eot/iranyekanwebextrabold.eot');
	src: url('fonts/eot/iranyekanwebextrabold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('fonts/woff/iranyekanwebextrabold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('fonts/ttf/iranyekanwebextrabold.ttf') format('truetype');
}

@font-face {
	font-family: 'iranyekan';
	font-style: normal;
	font-weight: 900;
	src: url('fonts/eot/iranyekanwebblack.eot');
	src: url('fonts/eot/iranyekanwebblack.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('fonts/woff/iranyekanwebblack.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('fonts/ttf/iranyekanwebblack.ttf') format('truetype');
}

@font-face {
	font-family: 'iranyekan';
	font-style: normal;
	font-weight: 950;
	src: url('fonts/eot/iranyekanwebextrablack.eot');
	src: url('fonts/eot/iranyekanwebextrablack.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('fonts/woff/iranyekanwebextrablack.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('fonts/ttf/iranyekanwebextrablack.ttf') format('truetype');
}
.basic{
    font-family: 'iranyekan';
    position: relative;
    text-align: center;
    margin: 0 auto;
    margin-top: 200px;
    width: 350px;
    height: 350px;
    border: 2px solid slategrey;
    border-radius: 6%;
}
.style-username{
    text-align: right;
    font-size: 15px;
    margin-top: 20px;
    margin-right: 49px;
    color: rgb(143, 139, 139);
}
.style-username-input{
    font-size: 15px;
    direction: rtl;
    border-radius: 6px 6px 6px 6px;
    border:1px solid rgb(143, 139, 139);
    width: 250px;
    height: 40px;
}
.style-PhoneNumber{
    text-align: right;
    font-size: 15px;
    margin-right: 49px;
    color: rgb(143, 139, 139);
}
.style-PhoneNumber-input{
    font-size: 15px;
    direction: rtl;
    border-radius: 6px 6px 6px 6px;
    border:1px solid rgb(143, 139, 139);
    width: 250px;
    height: 40px;
}
.style-btn-Sabt{
	cursor: pointer;
    font-size: 18px;
    width: 80px;
    padding: 10px;
    border: 1px solid #a1a3a8;
    border-radius: 10px 10px 10px 10px;
    margin-top: 24px;
	transition: .5s;
}
.style-btn-Sabt:hover{
	background-color: rgb(31, 204, 237);
    border: none;
    color: white;
}